@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar las flechas de los campos de número en navegadores como Chrome, Edge y Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}